/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

main > section,
footer {
    padding-top: 30px;
    padding-bottom: 30px;

}

.my-row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.my-col{
    width: 100%;
    margin-top: 15px;
    background-color: var(--light-blue);
    border: 1px dashed blue;
    padding: 10px;
}

.my-col-100{
    width: 100%;
}

.my-col-50{
    border: 1px dashed green;
}

#section-2,
#section-6{
    background-color: var(--purple);
}

footer{
    background-color: #333333;
}
img{
    width: 100%;
    display: inline-block;
}

.button{
    background-color: white;
    border-radius: 12px;
    padding: 4px 8px;
}


/* -----------------HEADER RULE----------------- */
header{
    background-color: var(--blue);
    color: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
}

.nav-container{
    display: flex;
    align-items: center;
}

header nav{
    display: none;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin-right: 8px;
}

.button{
    background-color: white;
    color: black;
}

header ul li a{
    text-decoration: none;
    color: white;
}
header ul li:last-child a{
    color: black;
}

.hamburger-container{
    display: flex;
    align-items: center;
}
/* -----------------MAIN RULE------------------- */


/* -----------------FOOTER RULE----------------- */


/* -----------------MEDIA QUERY----------------- */
/* IN MOBILE FIRST */

@media screen and (min-width: 768px) {
    #section-4 .my-col-50{
        width: calc((100% / 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        border: 1px dashed green;
    }

    #section-5 .my-col-60{
        width: calc(((100% / 10) * 6) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        border: 1px dashed green;
    }

    #section-5 .my-col-40{
        width: calc(((100% / 10) * 4) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        border: 1px dashed green;
    }
}

@media screen and (min-width: 992px) {
    header nav{
        display: block;
    }
    
    header .hamburger-container{
        display: none;
    }

    .my-col-66{
        width: calc(((100% / 3) * 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        border: 1px dashed green;
    }

   

    .my-col-33,
    #section-4 .my-col-33{
        width: calc((100% / 3) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        border: 1px dashed green;
    }

    #section-1 .my-row{
        margin-right: -10px;
        margin-left: -10px;
        padding: 0px;
    }

    #section-2 .my-row,
    #section-3 .my-row{
        margin-right: -20px;
        margin-left: -20px; 
    }

    #section-4 .my-row{
        margin-right: -30px;
        margin-left: -30px; 
    }

    .my-col-50{
        width: calc((100% / 2));
        border: 1px dashed green;
    }

    #section-3 .my-col{
        width: 100%;
        display: flex;
    }
}

/* -----------------VARIABILI----------------- */
:root{
    --blue: #3784FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
}

/* -----------------DEBUG----------------- */
.debug .container,
.debug .container-small {
    border: 1px dashed red;
}