/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
html{
    font-family: sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

main > section,
footer {
    padding-top: 30px;
    padding-bottom: 30px;

}

.my-row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.my-col{
    width: 100%;
    margin-top: 15px;
    background-color: var(--light-blue);
    padding: 10px;
    text-align: center;
}

.my-col-100{
    width: 100%;
}


#section-2,
#section-6{
    background-color: var(--purple);
}

footer{
    background-color: #333333;
}
img{
    width: 100%;
    display: inline-block;
}

.button{
    background-color: white;
    border-radius: 12px;
    padding: 4px 8px;
}

h2, h3{
    color: var(--blue);
}

h2{
    font-size: 4em;
}

/* -----------------HEADER RULE----------------- */
header{
    background-color: var(--blue);
    color: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
}

.nav-container{
    display: flex;
    align-items: center;
}

header nav{
    display: none;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin-right: 8px;
}

.button{
    background-color: white;
    color: black;
}

header ul li a{
    text-decoration: none;
    color: white;
}
header ul li:last-child a{
    color: black;
}

.hamburger-container{
    display: flex;
    align-items: center;
}
/* -----------------MAIN RULE------------------- */
/* -------------section 1-------------- */
#section-1 .my-col{
    border-radius: 20px;
    padding: 20px 40px;
}

h2, h3{
    margin-bottom: 20px;
    margin-top: 20px;
}
#section-1 p{
    margin-bottom: 20px;
}
#section-1 .button{
    background-color: var(--blue);
    color: white;
    text-decoration: none;
}

.container-button{
    margin-bottom: 20px;
}

/* -------------section 2-------------- */
.my-col-50{
    margin-bottom: 20px;
    padding: 20px;
}

#section-2 h3,
#section-2 p{
    color: white;
}

#section-2 .special-container-section-2{
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

#section-2 .special-container-section-2 h3,
#section-2 .special-container-section-2 p {
    color: black;
}

.anchor-section-2-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.anchor-section-2{
    margin-top: 20px;
    background-color: var(--purple);
    padding: 8px;
    border-radius: 50%;
}
/* -------------section 3-------------- */
#section-3 .my-col{
    background-color: var(--purple);
    color: white;
    border-radius: 20px;
}

#section-3 .my-col h3{
    color: white;
}

#section-3 .my-col img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

#section-3 .testimonial-container{
   background-color: white;
   color: black;
}

#section-3 .testimonial-container h3{
    color: var(--purple);
 }

/* -------------section 4-------------- */
#section-4{
    background-color: var(--purple);
}
#section-4 .my-col{
    background-color: white;
    border-radius: 20px;
}

#section-4 .my-row .my-col h2,
#section-4 .my-row .my-col h3,
#section-4 .my-row .my-col a{
    color: var(--purple);
}


#section-4 .my-row .my-col a{
    color: white;
    text-decoration: none;
    background-color: var(--purple);
    padding: 5px 20px;
    border-radius: 20px;
}

#section-4 .my-row .my-col p{
    color: black;
    margin-bottom: 20px;
}

/* -------------section 5-------------- */
#section-5 img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#section-5 p{
    margin-bottom: 20px;
}

#section-5 h3{
    font-size: 2em;
}

#section-5 h3{
    color: var(--purple);
}

#section-5 a{
    background-color: #9792E4;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
}

/* -------------section 6-------------- */
#section-6{
    text-align: center;
    padding: 20px;
}

#section-6,
#section-6 h3 {
    color: white;
}

#section-6 h2{
    color: #F9C15F;
}

#section-6 p{
    margin-bottom: 20px;
}

#section-6 a{
    background-color: white;
    color: var(--purple);
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 20px;
}



/* -----------------FOOTER RULE----------------- */
footer{
    color: white;
    text-align: center;
}
footer p{
    padding-bottom: 40px;
}
footer a{
    color: var(--purple);
}


/* -----------------MEDIA QUERY----------------- */
/* IN MOBILE FIRST */

@media screen and (min-width: 768px) {
    #section-3 .my-col{
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        flex-wrap: wrap;
    }

    #section-1 .my-col-66,
    #section-3 .my-col-66,
    #section-4 .my-col-66{
        width: calc(((100% / 3) * 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    #section-1 .my-col-33,
    #section-3 .my-col-33,
    #section-4 .my-col-33{
        width: calc((100% / 3) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-1 .my-row{
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px;
    }

    #section-1 .my-col-50{
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }
    

    #section-4 .my-col-50{
        width: calc((100% / 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-5 .my-col-60{
        width: calc(((100% / 10) * 6) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
    }

    #section-5 .my-col-40{
        width: calc(((100% / 10) * 4) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
    }  
}


@media screen and (min-width: 992px) {
    header nav{
        display: block;
    }
    
    header .hamburger-container{
        display: none;
    }

    .my-col-66{
        width: calc(((100% / 3) * 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
    }
   
    .my-col-33,
    #section-4 .my-col-33{
        width: calc((100% / 3) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #section-1 .my-row{
        margin-right: -10px;
        margin-left: -10px;
        padding: 0px;
    }
    #section-2 .my-row > div:not(:last-of-type) h3{
        margin-bottom: 100px;
    }

    #section-2 .my-row{
        align-items: end;
    }

    #section-2 .my-row,
    #section-3 .my-row{
        margin-right: -20px;
        margin-left: -20px; 
    }

    #section-4 .my-row{
        margin-right: -30px;
        margin-left: -30px; 
    }

    .my-col-50{
        width: calc((100% / 2));
    }

    #section-3 .my-col{
        width: 100%;
        display: flex;
    }
}

/* -----------------VARIABILI----------------- */
:root{
    --blue: #3784FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
}

